.button {
  height: 3.25rem;
  max-width: 5.625rem;
  
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  
  background-color: var(--blue-500);
  border-radius: 8px;
  border: none;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-300);
}

.icon {
  margin-left: 0.5rem;
  color: var(--gray-100);
}